jsonpatch # 1.32
#PyYAML==5.3.1 #5.4.1
#PyYAML
pyyaml!=6.0.0,!=5.4.0,!=5.4.1
#kubernetes # 24.2.0
kubernetes==32.0.0
cffi #1.15.1
openshift # 0.13.1
typer
rich
shellingham
loguru
ansible
#ansible-core==2.15.2
ansible-core==2.18.2
pywinrm
jmespath
jsondiff
docker-compose
cryptography
hcloud
netaddr
#boto3
python-benedict